# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'cmd-|': 'dir-opener:open-directory'
'atom-text-editor.dir-opener':
  'h': 'dir-opener:open-parent-directory'
  'l': 'dir-opener:open-child'
  '~': 'dir-opener:go-home'
  'shift-o': 'dir-opener:open-external'
  'v': 'dir-opener:activate-linewise-visual-mode'
  'V': 'dir-opener:activate-linewise-visual-mode'
  'f': 'dir-opener:toggle-selected-and-next-row'
  'y y': 'dir-opener:copy-names-to-clipboard'
  'y f': 'dir-opener:copy-fullpaths-to-clipboard'
  'g i s': 'dir-opener:git-toggle-staged'
  'g i r': 'dir-opener:git-reset-head'
  'shift-p': 'dir-opener:toggle-in-project'
  'C': 'dir-opener:git-commit'
  'g a': 'dir-opener:quick-amend'
  'g i a': 'dir-opener:git-amend'
  'U': 'dir-opener:undo-last-commit'
  'p': 'dir-opener:paste-files'
  'd': 'unset!'
  'd d': 'dir-opener:delete-selected'
  'D D': 'dir-opener:delete-selected-append'
  'X': 'dir-opener:execute-file-at-cursor'
  'E': 'dir-opener:edit'
  'J': 'dir-opener:next-visited'
  'K': 'dir-opener:previos-visited'

  # disable some vim-mode-plus keybindings
  'c': 'dir-opener:noop'
  'i': 'dir-opener:noop'

'atom-text-editor.dir-opener:not(.insert-mode)':
  'd': 'unset!'
  'd d': 'dir-opener:delete-selected'
  'D D': 'dir-opener:delete-selected-append'
