# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'cmd-|': 'dir-opener:open-directory'
'atom-text-editor.dir-opener':
  'h': 'dir-opener:open-parent-directory'
  'l': 'dir-opener:open-child'
  '~': 'dir-opener:go-home'
  'shift-o': 'dir-opener:open-external'
  'v': 'dir-opener:activate-linewise-visual-mode'
  'V': 'dir-opener:activate-linewise-visual-mode'
  'f': 'dir-opener:toggle-selected-and-next-row'
  'shift-y shift-y': 'dir-opener:copy-names-to-clipboard'
  'shift-y f': 'dir-opener:copy-fullpaths-to-clipboard'
  'shift-y shift-f': 'dir-opener:copy-fullpaths-to-clipboard'
  'g i a': 'dir-opener:git-toggle-staged'
  'g i r': 'dir-opener:git-reset-head'

  # disable some vim-mode-plus keybindings
  'c': 'dir-opener:noop'
  'd': 'dir-opener:noop'
  'i': 'dir-opener:noop'
  'J': 'dir-opener:noop'
  'K': 'dir-opener:noop'
